<section class="light-section">
  <div class="container mx-auto pt-12">
    <h1 class="font-bold text-lg mb-4">All Orders</h1>
    <% if (messages.success) { %>
    <div
      id="success-alert"
      class="flex items-center bg-cyan-300 text-white text-sm font-bold px-4 py-3"
      role="alert"
    >
      <img src="/img/received.png" alt="" srcset="" />

      <!-- <span><%#= messages.success %></span> -->
      <p class="ml-3 text-black"><%= messages.success %></p>
    </div>
    <% } %>

    <table class="w-full table-auto bg-white">
      <thead class="">
        <tr>
          <th class="text-left px-4 py-2 left">Orders</th>
          <th class="text-left px-4 py-2">Address</th>
          <th class="text-left px-4 py-2">Phone</th>
          <th class="text-left px-4 py-2">Order Placed</th>
        </tr>
      </thead>

      <tbody class="">
        <% if (orders.length)
        <!--  -->
        {%> <% orders.forEach((value)=>{%>
        <tr class="">
          <td class="border text-left px-4 py-2">
            <a class="link" href="/home/orders/<%= value._id %>"><%= value._id %></a>
          </td>
          <td class="border text-left px-4 py-2"><%= value.address %></td>
          <td class="border text-left px-4 py-2"><%- value.phoneNumber %></td>
          <td class="border text-left px-4 py-2">
            <%= moment(value.createdAt).format("ddd/M/yyyy hh:mm A") %>
          </td>
        </tr>
        <%})%>
        <!--  -->
        <% } else { %>
        <tr class="">
          <td class="border text-left px-4 py-2"><span>No orders found !</span></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
